.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
}

.navbar {
  border-bottom: 1px solid $dark-nav-active;
  padding-left: 1rem;
  display: flex;
  height: 32pt;
  flex-direction: row;
  line-height: 32pt;
  font-size: 10pt;
  background-color: $dark-nav;
  color: $dark-text;
  .title {
    padding-top: 1px;;
    padding-left: 0.15rem;
    padding-right: 1rem;
    letter-spacing: 3px;
    font-size: 16pt;
    font-weight: 900;
    color: $teal;
  }
  .subtitle {
    flex-grow: 1;
  }
}

.workspace-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.left-panel {
  border-right: 1px solid $border-color;
  min-width: 106px;
  background-color: $dark-sidebar;
  color: $dark-text;
  font-size: 10pt;
}

.right-panel {
  border-left: 1px solid $border-color;
  max-width: 256px;
  min-width: 256px;
  text-align: center;
  background-color: $dark-sidebar;
  color: $dark-text;
  font-size: 10pt;
}

.image-container {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  background-color: $bg-color-secondary;
  position: relative;
}

.image-container > .start-message {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: $text-color-secondary;
}

.hidden {
  display: none;
}
