.button {
  margin: 0.5rem;
  margin-left: 0;
  line-height: 20pt;
  background-color: $bg-color;
  border: 1px solid $button-highlight;
  color: $button-highlight;
  border-radius: 4px;
  &:hover {
    background-color: $button-highlight;
    color: $bg-color;
  }
  transition: 0.1s;
}

input[type="file"] {
  display: none;
}

.import-button {
  @extend .button;
}

.import-loaded {
  margin-right: 0.5rem;
  color: $text-color-secondary;
  font-size: 10pt;
}

.export-button {
  @extend .button;
}

.quantize-container {
  width: 100%;
  text-align: center;
}

.quantize-input {
  border-radius: 4px;
  width: 64px;
  box-sizing: border-box;
}

.dd-container {
  position: relative;
  display: inline-block;
}

.dd-button {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dd-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dd-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  &hover {
    background-color: #ddd;
  }
}

.dd-show {
  display: block;
}
