.modal-overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  height: 100%;  
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  margin: 2.5rem auto;
  border-radius: 9px;
  min-height: 290px;
  max-width: 500px;
  position: relative;
  z-index: 100;
  background-color: $dark-modal;
  letter-spacing: 0.5px;
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
  color: $dark-text;
}

.modal-header {
  padding: 1.75rem;
  display: flex;
  height: fit-content;
  min-width: 100%;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 9pt;
}

.modal-label {
  padding: 0rem 0.5rem 0rem 2rem;
  letter-spacing: 0.5px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 10pt;
}

.modal-label-num {
  padding: 0rem 0.5rem 0rem 2.5rem;
  display: inline-block;
  width: 100px;
  text-align: center;
  letter-spacing: 0.5px;
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
}

.modal-button {
  @extend .button;
  margin: 0.5rem 0rem;
  border: none;
  padding: 0.5rem 0rem;
  min-width: 80px;
  max-width: 80px;
  float: right;
  background-color: $dark-button;
  text-align: center;
  line-height: 10pt;
  letter-spacing: 0.5px;
  &:hover {
    background-color: $dark-active;
  }
  &:focus {
    outline: none;
    background-color: $dark-nav-active;
  }
  cursor: pointer;
  transition: 0.1s;
}

.modal-button-left {
  margin-left: 30%;
  float: left;
}

.modal-button-right {
  margin-right: 30%;
  float: right;
}

.modal-input-text {
  justify-content: center;
}

.modal-input-num {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
