.palette-container {
  text-align: center;
}

.palette-canvas {
  padding-bottom: 0.5rem;
  height: 192px;
  width: 192px;
}

.panel-label {
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 900;
  font-size: 9pt;
  text-transform: uppercase;
}

// .rgb-label {
//   position: fixed; 
//   text-align: right;
//   font-family: monospace;
//   font-weight: 500;
//   font-size: 10pt;
//   color: dark-text;
// }
