.spritepanel-container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  border-radius: 4px;
  display: block;
  max-width: fit-content;
  text-align: center;
  background-color: $dark-nav;
}

// header above container
.spritepanel-header {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family:'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 8.5pt;
  color: $dark-text;
}

// headers inside container
.spritepanel-label {
  // padding-top: 0.5rem;
  margin-bottom: 0.25rem;
  text-align: center;
  font-size: 910t;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: $dark-text;
}

// labels for position variables
.spritepanel-label-pos {
  padding: 0rem 0.15rem 0rem 0.5rem;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 10pt;
}

// labels for dimension variables
.spritepanel-label-num {
  @extend .modal-label-num;
  padding-left: 0.15rem;
  text-align: right;
}

// container for input/select boxes
.sprite-input-container {
  margin: 0.25rem 0.5rem 0.75rem auto;
  justify-content: center;
}

// tile position X/Y input boxes
.sprite-input {
  border-radius: 4px;
  height: 30px;
  min-height: 28px;
  min-width: 40px;
  max-width: 40px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
}

// height/weight select boxes
.sprite-select {
  margin: 0.25rem 2.5rem 0.1rem 0rem;
  border: none;
  border-radius: 4px;
  min-height: 28px;
  height: 30px;
  min-width: 52px;
  max-width: 52px;
  line-height: 10pt;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  background-color: $dark-modal-input;
  color: $dark-text;
}