.tools-container {
  max-width: 90px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
}

.toggle {
  @extend .button;
  margin-right: 0.2rem;
  margin-bottom:0.4rem;
  margin-left: 0.2rem;
  padding-top: 3.5px;
  height: 34px;
  width: 34px;
}

.toggle-off {
  @extend .toggle;
}

.toggle-on {
  @extend .toggle;
  border-color: $dark-active;
  background-color: $dark-active;
  color: $bg-color;
}
