.tools-container {
  max-width: 90px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
}

.toggle {
  @extend .button;
  margin: 3px;
  padding-top: 4px;
  height: 34px;
  width: 34px;
}

.toggle-off {
  @extend .toggle;
}

.toggle-on {
  @extend .toggle;
  border-color: $dark-active;
  background-color: $dark-active;
  color: $bg-color;
}

.heading {
  padding-top: 0.75rem;
  padding-bottom: 0.15rem;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 900;
  font-size: 9pt;
  text-transform: uppercase;
}
