$blue: #007aff;

.button {
  margin: 0.5rem;
  margin-left: 0;
  line-height: 20pt;
  background-color: white;
  border: 1px solid $blue;
  color: $blue;
  border-radius: 4px;
  &:hover {
    background-color: $blue;
    color: white;
  }
  transition: 0.1s;
}

input[type="file"] {
  display: none;
}

.import-button {
  @extend .button;
}

.import-loaded {
  margin-right: 0.5rem;
  color: gray;
  font-size: 10pt;
}

.export-button {
  @extend .button;
}

.quantize-container {
  width: 100%;
  text-align: center;
}

.quantize-input {
  border-radius: 4px;
  width: 64px;
  box-sizing: border-box;
}
